@charset "utf-8";


:root{
    --main_logo_color: #19ce60;
    --font_color: rgb(29,29,29);
    --gray_font_color: rgb(129,129,129);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

}

a{
    text-decoration: none;
}

ol,ul{
    list-style: none;
}

li {  
    display: list-item;
    text-align: -webkit-match-parent;
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

#service_area .start_naver ::after,#service_area> .junior_naver > .ico_jrnaver,#service_area> .junior_naver > .ico_jrnaver:hover,
#service_area > .happy_bean > .ico_happybean, #service_area > .happy_bean > .ico_happybean:hover , #logo_area >.logo_default >.logo_naver > .logo,
#bt_search , #logo_area > .search_area > .btn_keyboard > .ico_keyboard ,#logo_area > .search_area > .btn_arw > .ico_arr,
#ico_mail, #ico_tv, #nav_area > .navivator_bar >.btn_more::after ,#nav_area > .navivator_bar >.keyword_area> .link_keyword > .keyword::after ,#ico_error
 {
    background-image: url(https://s.pstatic.net/static/www/img/uit/2020/sp_main_1f05c0.png);
    background-size: 440px 410px;
}
#header{
    position: relative;
    background-color: #fff;
    z-index: 2000;
}

#header > .container{
    width: 1150px;
    height: 160px;
    margin: 0 auto;
    position: relative;
}
/* 사이드바 시작 */

 #service_area{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
}  
#service_area > .start_naver {
    font-size: 11px;
    color: var(--font_color);
    float: left;
    cursor: pointer;

}

#service_area .start_naver ::after{
    display: inline-block;
    background-position: -382px -213px;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    content: '';
    vertical-align: top;
    margin: -3px 0 0 -2px;
}
#so_bar{
    float: left;
    width: 1px;
    height: 10px;
    margin: 3px 5px;
    background-color: #e4e8eb;
}
#service_area > a:hover{
    text-decoration-line: underline;
}

#service_area span{
    margin-right: 0.2rem;
    margin-left: 0.2em;
}

#service_area> .junior_naver > .ico_jrnaver{
    display: inline-block;
    float: left;
    width: 60px;
    height: 10px;
    background-position: -333px -267px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 3px;
}
#service_area> .junior_naver > .ico_jrnaver:hover{
    display: inline-block;
    width: 60px;
    height: 10px;
    background-position: -257px -296px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 3px;
}
#service_area > .happy_bean > .ico_happybean{
    display: inline-block;
    float: left;
    width: 34px;
    height: 11px;
    background-position: -257px -308px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 3px 3px 2px 6px;
}
#service_area > .happy_bean > .ico_happybean:hover{
    display: inline-block;
    float: left;
    width: 34px;
    height: 11px;
    background-position: -380px -199px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 3px 3px 2px 6px;
}

/* service_area end */

/* logo area */
#logo_area{
    position: relative;
    height: 100%;
}
#logo_area > .logo_default{
    position: absolute;
    top: 5%;
    left: -9px;
    margin-top: -32px
}

#logo_area >.logo_default >.logo_naver > .logo{
    display: inline-block;
    width: 222px;
    height: 52px;
    background-position: 0 -158px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin-top: 75px;
    content: '';
}

#logo_area> .search_area{
    display: inline-block;
    position: absolute;
    top: 51%;
    left: 240px;
    margin-top: -28px;    
}


#main_search_bar > .green_window {
    position: relative;
    width: 582px;
    height: 52px;
    border: 2px solid var(--main_logo_color);
    border-radius: 2px;
}

 #main_search_bar > .green_window > .input_text {
    width: 530px;
    height: 47px;
    padding: 11px 15px;
    margin: 1px;
    background-color: white;
    color: black;
    border: 0;
    border-radius: 0;
    font-size: 18px;
    outline: 0;
}

 #main_search_bar >.green_window > .btn_submit{
    position: absolute;
    top: -2px;
    width: 56px;
    height: 54px;
    left: 522px;
    background-color: #19ce60;
    height: 52px;
    border: 2px solid var(--main_logo_color);
    border-radius: 2px;
    cursor: pointer;
}
#bt_search{
    display: inline-block;
    width: 22px;
    height: 22px;
    background-position: -180px -386px;
    
}

#logo_area > .search_area > .btn_keyboard{
    position: absolute;
    top: 0;
    right: 84px;
    bottom: 0;
    width: 36px;
    z-index: 400;
}
#logo_area > .search_area > .btn_keyboard > .ico_keyboard{
    position: relative;
    top: 38%;
    left: 25%;
    display: inline-block;
    width: 20px;
    height: 12px;
    background-position: -420px -248px;
    background-repeat: no-repeat;
    vertical-align: top; 
}

#logo_area > .search_area > .btn_arw{
    position: absolute;
    top: 0;
    right: 64px;
    bottom: 0;
    width: 22px;
}

#logo_area > .search_area > .btn_arw > .ico_arr{
    position: relative;
    display: inline-block;
    width: 10px;
    height: 5px;
    background-position: -404px -258px;
    background-repeat: no-repeat;
    vertical-align: top;
    top: 50%;
    left: 50%;
    margin: -2px 0 0 -5px;
}


/* navigator */

#nav_area{
    width: 100%;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    height: 52px;
}

#nav_area > .navivator_bar{
    width: 1130px;
    margin: 0 auto;
}

#nav_area > .navivator_bar >.list_nav_type_fix  {
    float: left;
    margin-left: -8px;
    letter-spacing: -.3px;
}


#nav_area > .navivator_bar > .list_nav_type_fix > .nav_item{
    display: inline-block;
    padding-left: 12px;
    line-height: 52px;

}

#nav_area > .navivator_bar > .list_nav_type_fix > li:first-child {
    padding-left: 0;
    left: -2px;
    margin: 0;
}
#nav_area > .navivator_bar > .list_nav_type_fix > .nav_item > .nav{
    color:  #03c75a;
    font-size: 15px;
    font-weight: 700;
}



#ico_mail{
    position: relative;
    display: inline-block;
    width: 21px;
    height: 21px;
    margin: 14px 4px 0 0;
    background-position: -228px -386px;
    background-repeat: no-repeat;
    vertical-align: top;
}

#ico_tv{
    position: relative;
    display: inline-block;
    width: 12px;
    height: 14px;
    background-position: -256px -212px;
    margin-top: 20px; 
    background-repeat: no-repeat;
    vertical-align: top;
}

 #nav_area > .navivator_bar > .list_nav_type_fix2 {
    float: left;
    letter-spacing: -.3px;
    margin-left: 18px;
} 
#nav_area > .navivator_bar > .list_nav_type_fix2 > .nav_item{
    display: inline-block;
    line-height: 52px;
    padding-left: 12px;
}

#nav_area > .navivator_bar > .list_nav_type_fix2 > li:first-child {
    padding-left: 0;
    left: -2px;
    margin: 0;
}
#nav_area > .navivator_bar > .list_nav_type_fix2 > .nav_item > .nav{
    color:  black;
    font-size: 15px;
    font-weight: 700;
}


#nav_area > .navivator_bar >.btn_more{
    float: left;
    min-width: 70px;
    margin-left: 30px;
    font-size: 13px;
    line-height: 30px;
    color: #202020;
    text-align: right;
    margin-top: 11px;
}

#nav_area > .navivator_bar >.btn_more:hover{
    text-decoration-line: underline;
}
#nav_area > .navivator_bar >.btn_more::after{
    display: inline-block;
    width: 11px;
    height: 7px;
    background-position: -319px -258px;
    background-repeat: no-repeat;
    content: '';
    margin-left: 7px;
    vertical-align: 2px;
    margin-right: 20px;
}

#nav_area > .navivator_bar >.keyword_area{
    position: relative;
    top: 11px;
    right: -12px;
    height: 30px;
    width: 230px;
    overflow: hidden;
    font-size: 13px;
    line-height: 30px;
    z-index: 1;
}
#nav_area > .navivator_bar >.keyword_area> .link_keyword{
    display: inline;
}
#nav_area > .navivator_bar >.keyword_area> .link_keyword > .keyword{
    font-size: 13px;
    color: #505050;
}
#nav_area > .navivator_bar >.keyword_area> .link_keyword > .keyword::after{
     display: inline-block;
    position: absolute;
    top: 11px;
    right: 0;
    width: 14px;
    height: 9px;
    background-position: -388px -245px;
    vertical-align: top;
    content: '';

}

#ico_error{
    display: inline-block;
    width: 14px;
    height: 14px;
    background-position: -420px -331px;
    background-repeat: no-repeat;
    vertical-align: top;
    float: left;
    margin: 8px 5px 0 0;
}