@charset "utf-8";


:root{
    --main_logo_color: #19ce60;
    --font_color: rgb(29,29,29);
    --gray_font_color: rgb(129,129,129);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

}

a{
    text-decoration: none;
}

ol,ul{
    list-style: none;
}

li {  
    display: list-item;
    text-align: -webkit-match-parent;
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

iframe{
    overflow: hidden;
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: top;
}

#service_area .start_naver ::after,#service_area> .junior_naver > .ico_jrnaver,#service_area> .junior_naver > .ico_jrnaver:hover,
#service_area > .happy_bean > .ico_happybean, #service_area > .happy_bean > .ico_happybean:hover , #logo_area >.logo_default >.logo_naver > .logo,
#bt_search , #logo_area > .search_area > .btn_keyboard > .ico_keyboard ,#logo_area > .search_area > .btn_arw > .ico_arr,
#ico_mail, #ico_tv, #nav_area > .navivator_bar >.btn_more::after ,#nav_area > .navivator_bar >.keyword_area> .link_keyword > .keyword::after ,#ico_error,
footer >.footer_inner> .notice_area > .link_all::after , #main_left > .news_stand > .group_issue .link_media::after
,#main_left > .news_stand > .group_title  .news_stand_link::before , #main_left > .news_stand > .group_title  .news_stand_link::after  
,#ico_list , #ico_set , #ico_tile ,#main_left > .news_stand > .news_container > .right_arow .ico_btn , #main_left > .news_stand > .news_container > .left_arow .ico_btn
,#main_left > .main_contents > .theme_head >.group_title .button::before , #main_left > .main_contents > .theme_head > .group_category > .right_arow .ico_btn
, #main_left > .main_contents > .theme_head > .group_category > .left_arow .ico_btn
, #main_left > .main_contents > .theme_cont > .group_theme2 .ico_play , #main_left > .main_contents > .theme_cont  > .btn_more_wrap .ico_more
{
    background-image: url(https://s.pstatic.net/static/www/img/uit/2020/sp_main_1f05c0.png);
    background-size: 440px 410px;
}
#header{
    position: relative;
    background-color: #fff;
    z-index: 2000;
}

#header > .container{
    width: 1150px;
    height: 160px;
    margin: 0 auto;
    position: relative;
}
/* 사이드바 시작 */

 #service_area{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
}  
#service_area > .start_naver {
    font-size: 11px;
    color: var(--font_color);
    float: left;
    cursor: pointer;

}

#service_area .start_naver ::after{
    display: inline-block;
    background-position: -382px -213px;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    content: '';
    vertical-align: top;
    margin: -3px 0 0 -2px;
}
#so_bar{
    float: left;
    width: 1px;
    height: 10px;
    margin: 3px 5px;
    background-color: #e4e8eb;
}
#service_area > a:hover{
    text-decoration-line: underline;
}

#service_area span{
    margin-right: 0.2rem;
    margin-left: 0.2em;
}

#service_area> .junior_naver > .ico_jrnaver{
    display: inline-block;
    float: left;
    width: 60px;
    height: 10px;
    background-position: -333px -267px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 3px;
}
#service_area> .junior_naver > .ico_jrnaver:hover{
    display: inline-block;
    width: 60px;
    height: 10px;
    background-position: -257px -296px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 3px;
}
#service_area > .happy_bean > .ico_happybean{
    display: inline-block;
    float: left;
    width: 34px;
    height: 11px;
    background-position: -257px -308px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 3px 3px 2px 6px;
}
#service_area > .happy_bean > .ico_happybean:hover{
    display: inline-block;
    float: left;
    width: 34px;
    height: 11px;
    background-position: -380px -199px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 3px 3px 2px 6px;
}

/* service_area end */

/* logo area */
#logo_area{
    position: relative;
    height: 100%;
}
#logo_area > .logo_default{
    position: absolute;
    top: 5%;
    left: -9px;
    margin-top: -32px
}

#logo_area >.logo_default >.logo_naver > .logo{
    display: inline-block;
    width: 222px;
    height: 52px;
    background-position: 0 -158px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin-top: 75px;
    content: '';
}

#logo_area> .search_area{
    display: inline-block;
    position: absolute;
    top: 51%;
    left: 240px;
    margin-top: -28px;    
}


#main_search_bar > .green_window {
    position: relative;
    width: 582px;
    height: 52px;
    border: 2px solid var(--main_logo_color);
    border-radius: 2px;
}

 #main_search_bar > .green_window > .input_text {
    width: 530px;
    height: 47px;
    padding: 11px 15px;
    margin: 1px;
    background-color: white;
    color: black;
    border: 0;
    border-radius: 0;
    font-size: 18px;
    outline: 0;
}

 #main_search_bar >.green_window > .btn_submit{
    position: absolute;
    top: -2px;
    width: 56px;
    height: 54px;
    left: 522px;
    background-color: #19ce60;
    height: 52px;
    border: 2px solid var(--main_logo_color);
    border-radius: 2px;
    cursor: pointer;
}
#bt_search{
    display: inline-block;
    width: 22px;
    height: 22px;
    background-position: -180px -386px;
    
}

#logo_area > .search_area > .btn_keyboard{
    position: absolute;
    top: 0;
    right: 84px;
    bottom: 0;
    width: 36px;
    z-index: 400;
}
#logo_area > .search_area > .btn_keyboard > .ico_keyboard{
    position: relative;
    top: 38%;
    left: 25%;
    display: inline-block;
    width: 20px;
    height: 12px;
    background-position: -420px -248px;
    background-repeat: no-repeat;
    vertical-align: top; 
}

#logo_area > .search_area > .btn_arw{
    position: absolute;
    top: 0;
    right: 64px;
    bottom: 0;
    width: 22px;
}

#logo_area > .search_area > .btn_arw > .ico_arr{
    position: relative;
    display: inline-block;
    width: 10px;
    height: 5px;
    background-position: -404px -258px;
    background-repeat: no-repeat;
    vertical-align: top;
    top: 50%;
    left: 50%;
    margin: -2px 0 0 -5px;
}


/* navigator */

#nav_area{
    width: 100%;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    height: 52px;
}

#nav_area > .navivator_bar{
    width: 1130px;
    padding: 0 0;
    margin: 0 auto;
}

#nav_area > .navivator_bar >.list_nav_type_fix  {
    float: left;
    margin-left: -8px;
    letter-spacing: -.3px;
}


#nav_area > .navivator_bar > .list_nav_type_fix > .nav_item{
    display: inline-block;
    padding-left: 12px;
    line-height: 52px;

}

#nav_area > .navivator_bar > .list_nav_type_fix > li:first-child {
    padding-left: 0;
    left: -2px;
    margin: 0;
}
#nav_area > .navivator_bar > .list_nav_type_fix > .nav_item > .nav{
    color:  #03c75a;
    font-size: 15px;
    font-weight: 700;
}

#ico_mail{
    position: relative;
    display: inline-block;
    width: 21px;
    height: 21px;
    margin: 14px 4px 0 0;
    background-position: -228px -386px;
    background-repeat: no-repeat;
    vertical-align: top;
}

#ico_tv{
    position: relative;
    display: inline-block;
    width: 12px;
    height: 14px;
    background-position: -256px -212px;
    margin-top: 20px; 
    background-repeat: no-repeat;
    vertical-align: top;
}

 #nav_area > .navivator_bar > .list_nav_type_fix2 {
    float: left;
    letter-spacing: -.3px;
    margin-left: 18px;
} 
#nav_area > .navivator_bar > .list_nav_type_fix2 > .nav_item{
    display: inline-block;
    line-height: 52px;
    padding-left: 12px;
}

#nav_area > .navivator_bar > .list_nav_type_fix2 > li:first-child {
    padding-left: 0;
    left: -2px;
    margin: 0;
}
#nav_area > .navivator_bar > .list_nav_type_fix2 > .nav_item > .nav{
    color:  black;
    font-size: 15px;
    font-weight: 700;
}


#nav_area > .navivator_bar >.btn_more{
    float: left;
    min-width: 70px;
    margin-left: 30px;
    font-size: 13px;
    line-height: 30px;
    color: #202020;
    text-align: right;
    margin-top: 11px;
}

#nav_area > .navivator_bar >.btn_more:hover{
    text-decoration-line: underline;
}
#nav_area > .navivator_bar >.btn_more::after{
    display: inline-block;
    width: 11px;
    height: 7px;
    background-position: -319px -258px;
    background-repeat: no-repeat;
    content: '';
    margin-left: 7px;
    vertical-align: 2px;
    margin-right: 20px;
}

#nav_area > .navivator_bar >.keyword_area{
    position: relative;
    top: 11px;
    right: -12px;
    height: 30px;
    width: 230px;
    overflow: hidden;
    font-size: 13px;
    line-height: 30px;
    z-index: 1;
}
#nav_area > .navivator_bar >.keyword_area> .link_keyword{
    display: inline;
}
#nav_area > .navivator_bar >.keyword_area> .link_keyword > .keyword{
    font-size: 13px;
    color: #505050;
}
#nav_area > .navivator_bar >.keyword_area> .link_keyword > .keyword::after{
     display: inline-block;
    position: absolute;
    top: 11px;
    right: 0;
    width: 14px;
    height: 9px;
    background-position: -388px -245px;
    vertical-align: top;
    content: '';

}

#ico_error{
    display: inline-block;
    width: 14px;
    height: 14px;
    background-position: -420px -331px;
    background-repeat: no-repeat;
    vertical-align: top;
    float: left;
    margin: 8px 5px 0 0;
}

/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* main start */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */

.main_container{
    display: flex;
    margin: 0 auto;
    width: 1200px;
    padding: 20px 30px;
    letter-spacing: -.2px;
}
#main_left{
    float: left;
    width: 750px;
}

#main_left > .main_banner{
    position: relative;
}

#main_left > .news_stand{
    width: 750px;
    margin-top: 12px;
    position: relative;
}

#main_left > .news_stand > .group_issue{
    position: relative;
    padding: 12px 15px 11px 15px;
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
}


#main_left > .news_stand > .group_issue .link_media{
    float: left;
    margin-right: 7px;
    font-size: 12px;
    color: black;
    font-weight: 700;
    text-decoration: none;
}
#main_left > .news_stand > .group_issue .link_media::after{
    display: inline-block;
    width: 6px;
    height: 10px;
    background-position: -262px -125px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin: 7px 0 0 6px;
}

#main_left > .news_stand > .group_issue .link_news{
    color: #202020;
    font-size: 12px;
}
#main_left > .news_stand > .group_issue .link_news:hover{
    text-decoration: underline;
}

#main_left > .news_stand > .group_issue .link_naver_news{
    font-size: 12px;
    color: #3565c9;
    font-weight: 700;
    text-decoration: none;
}

#main_left > .news_stand > .group_issue .link_naver_news::after{
    background-color: #c8ccd1;
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    content: '';
    margin-left: 8px;
    vertical-align: 3px;
}

#main_left > .news_stand > .group_issue .link_direct{
    font-size: 12px;
    color: black;
    font-weight: 700;
    text-decoration: none;
    margin: 0 4px 0 7px;
}
/* ----------------group title---------------------*/

#main_left > .news_stand > .group_title{
    display: flex;
    justify-content: space-between;
    padding: 22px 0 16px;
    line-height: 18px;
    font-size: 14px;
}

#main_left > .news_stand > .group_title .news_stand_link_box{   
    color: #000;
    font-weight: 700;
    text-decoration: none;
    white-space: nowrap;
}
#main_left > .news_stand > .group_title .news_stand_link{
    color: black;
}

#main_left > .news_stand > .group_title  .news_stand_link::after{
    display: inline-block;
    width: 7px;
    height: 11px;
    background-position: -410px -226px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin-left: 6px;
    vertical-align: -1px;
}

#main_left > .news_stand > .group_title  .news_stand_link::before{
    display: inline-block;
    width: 27px;
    height: 24px;
    background-position: -228px -296px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin: -6px 1px 0 0;
}
#main_left > .news_stand > .group_title  .data_button{
    font-size: 14px;
    color: grey;
    text-decoration: none;
}

#main_left > .news_stand > .group_title  .data_button + .data_button{
    color: #000;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}
#main_left > .news_stand > .group_title  .data_button + .data_button::before{
    background-color: #c7ccd1;
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    vertical-align: top;
    content: '';
    margin: 0 8px 0 4px;
    vertical-align: 3px;
}

#main_left > .news_stand > .group_title  .news_button_box{
    display: flex;
    justify-content: flex-start;
}

#main_left > .news_stand > .group_title > .news_button_box > .news_stand_link1{
    padding: 0 9px;
}

#ico_list{
    display: inline-block;
    width: 14px;
    height: 13px;
    background-position: -420px -379px;
    background-repeat: no-repeat;
    vertical-align: top;
    opacity: .7;  
}

#ico_tile{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-position: -153px -327px;
    background-repeat: no-repeat;
    vertical-align: top;
    opacity: 1;
}

#ico_set{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-position: -420px -276px;
    background-repeat: no-repeat;
    vertical-align: top;
    opacity: .7;
    margin: -1px 0 1px;
}

/* ----------------news_container---------------------*/

#main_left > .news_stand > .news_container{
    width: 100%;
}

#main_left > .news_stand > .news_container > .thumb_area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

#main_left > .news_stand > .news_container .thumb_box{
    width: 16.66%;
    height: 65px;
    padding: 23px 0 22px;
    text-align: center;
    border: 1px solid #e4e8eb;
}

#main_left > .news_stand > .news_container > .left_arow{
    position: absolute;
    left: -27px;
    top: 215px;
    z-index: 10;
}
#main_left > .news_stand > .news_container > .left_arow .ico_btn{
    display: inline-block;
    width: 44px;
    height: 44px;
    background-position: -224px -158px;
    background-repeat: no-repeat;
    vertical-align: top;
}
#main_left > .news_stand > .news_container > .right_arow{
    position: absolute;
    right: -13px;
    top: 215px;
    z-index: 10;
}
#main_left > .news_stand > .news_container > .right_arow .ico_btn{
    display: inline-block;
    width: 44px;
    height: 44px;
    background-position: -92px -296px;
    background-repeat: no-repeat;
    vertical-align: top;
}


/* ---------------------------------------------------------------------- */
/* -------------------------main contens--------------------------------- */

#main_left > .main_contents{
    /* background-color: #19ce60; */
    padding: 35px 0 27px;
    letter-spacing: -.25px;
}

/* theme_head start */
#main_left > .main_contents > .theme_head >.group_title{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding-bottom: 17px;
}
#main_left > .main_contents > .theme_head >.group_title .title{
    font-size: 14px;
    color: #000
}

#main_left > .main_contents > .theme_head >.group_title .dsc{
    margin-left: 8px;
    color: gray;
    font-size: 12px;
}
#main_left > .main_contents > .theme_head >.group_title .info{
    color: gray;
    font-size: 14px;
}
#main_left > .main_contents > .theme_head >.group_title .new{
    color: #000;
}

#main_left > .main_contents > .theme_head >.group_title .button{
    margin-left: 14px;
    font-size: 14px;
    color: #505050;
    text-decoration: none;
}
#main_left > .main_contents > .theme_head >.group_title .button:hover{
    text-decoration: underline;
}
#main_left > .main_contents > .theme_head >.group_title .button::before{
    display: inline-block;
    width: 11px;
    height: 11px;
    background-position: -319px -308px;
    background-repeat: no-repeat;
    content: '';
    margin-right: 4px;
    vertical-align: center;
    opacity: .7;
}
#main_left > .main_contents > .theme_head >.group_title .button::after{
    display: inline-block;
    position: relative;
    top: 0px;
    left: -110px;
    width: 1px;
    height: 12px;
    background-color: #e4e8eb;
    content: '';
    margin-right: 4px;
    vertical-align: -1px;
}

#main_left > .main_contents > .theme_head > .group_category{
    position: relative;
}
#main_left > .main_contents > .theme_head > .group_category .tab_box_wrap{
    display: flex;
    width: 750px;
    justify-content: flex-start;
    border-bottom: 1px solid #dae1e6; 
    border-top: 1px solid #dae1e6;
    border-left: 1px solid #dae1e6;  
}
#main_left > .main_contents > .theme_head > .group_category .tab_box{
    display: block;
    border-right: 1px solid #dae1e6;
    width: 12.5%;
    text-align: center;
}
#main_left > .main_contents > .theme_head > .group_category .tab{
    font-size: 13px;
    line-height: 49px;
    font-weight: 700;
    color: black;
    text-decoration: none;  
}

#main_left > .main_contents > .theme_head > .group_category .tab_box1{
    display: block;
    border-right: 1px solid #dae1e6;
    width: 12.5%;
    text-align: center;
    background-color: #8449ca;
  
}
#main_left > .main_contents > .theme_head > .group_category .tab1{
    font-size: 13px;
    line-height: 49px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;  
}

#main_left > .main_contents > .theme_head > .group_category  .left_arow{
    position: absolute;
    right: 725px;
    top: 7px;
    z-index: 11;
}
#main_left > .main_contents > .theme_head > .group_category  .left_arow .ico_btn{
    display: inline-block;
    width: 44px;
    height: 44px;
    background-position: -86px -342px;
    background-repeat: no-repeat;
    vertical-align: top;
}
#main_left > .main_contents > .theme_head > .group_category   .right_arow{
    position: absolute;
    left: 725px;
    top: 7px;
    z-index: 11;
}
#main_left > .main_contents > .theme_head > .group_category  .right_arow .ico_btn{
    display: inline-block;
    width: 44px;
    height: 44px;   
    background-position: -128px -342px;
    background-repeat: no-repeat;
    vertical-align: top;
}
/* theme_head end */


/* theme_cont 시작 */


/* *************************************************************** */
/* ***********************Theme_cont 공통 ************************* */
/* *************************************************************** */

#main_left > .main_contents > .theme_cont  img{
    object-fit: cover;
    transform: scale(1);
}
#main_left > .main_contents > .theme_cont  img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
#main_left > .main_contents > .theme_cont  .theme_title:hover{
    text-decoration: underline;
}
#main_left > .main_contents > .theme_cont .theme_category{
    color: #8449ca;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
}
#main_left > .main_contents > .theme_cont .theme_title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: block;
    color: black;
    margin-top: 6px;
    font-size: 13px;
}

#main_left > .main_contents > .theme_cont .desc{
    overflow: hidden;
    max-height: 42px;
    line-height: 21px;
    text-overflow: ellipsis;
    margin-top: 5px;
    font-size: 13px;
    color: #404040;
}
#main_left > .main_contents > .theme_cont .source_area{
    display: flex;
    justify-content: flex-start;
    color: #505050;
    overflow: hidden;
    max-width: 100%;
    font-size: 12px;
    margin-top: 4px;
    vertical-align: top;
}
#main_left > .main_contents > .theme_cont .source_inner{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#main_left > .main_contents > .theme_cont .source_date{
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* *************************************************************** */
/* ***********************Theme_cont 공통 end************************* */

/* group_top */
#main_left > .main_contents > .theme_cont > .group_topstory{
    padding: 22px 0 18px;
    display: flex;
    justify-content: space-between;
    width: 750px;
}
#main_left > .main_contents > .theme_cont > .group_topstory .topstory_thumb{
    overflow: hidden;
    display: block;
    position: relative;
    width: 364px;
    height: 180px;
}

#main_left > .main_contents > .theme_cont > .group_topstory a{
    display: block;
}
#main_left > .main_contents > .theme_cont > .group_topstory .topstory_info{
    padding: 16px 18px 0 0;
    text-decoration: none;
}
/* group_top end*/


/* group_theme1 start */
#main_left > .main_contents > .theme_cont > .group_theme1{
    padding: 18px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid #e4e8eb;
}
#main_left > .main_contents > .theme_cont > .group_theme1 .theme_item{
    display: flex;
    justify-content: flex-start;
}
#main_left > .main_contents > .theme_cont > .group_theme1 .theme_item + .theme_item{
    margin-top: 18px;
}
#main_left > .main_contents > .theme_cont > .group_theme1 .theme_thumb{
    display: inline-block;
    overflow: hidden;
}
#main_left > .main_contents > .theme_cont > .group_theme1 .theme_box{
    margin-right: 21px;
}
#main_left > .main_contents > .theme_cont > .group_theme1 img{
    width: 170px;
    height: 114px;

}
#main_left > .main_contents > .theme_cont > .group_theme1 .theme_info{
    display: inline;
    overflow: hidden;
    padding: 4px 47px 0 0;
}
#main_left > .main_contents > .theme_cont > .group_theme1 .source_date{
    color: grey;

}

#main_left > .main_contents > .theme_cont > .group_theme1 .source_date::before{
    background-color: grey;
    display: inline-block;
    width: 2px;
    height: 2px;
    content: '';
    margin: 0 5px 0 6px;
    vertical-align: 4px;
}
/* group_theme1 end */


/* group_theme2 start */
#main_left > .main_contents > .theme_cont > .group_theme2{
    display: flex;
    padding: 18px 0 17px 0;
    justify-content: space-between;
    border-top: 1px solid #e4e8eb;
}
#main_left > .main_contents > .theme_cont > .group_theme2 .media_area{
    width: 232px;
    line-height: 20px;
    vertical-align: top;
    text-decoration: none;
    font-size: 12px;
}

#main_left > .main_contents > .theme_cont > .group_theme2 img{
    width: 232px;
    height: 130px;
}

#main_left > .main_contents > .theme_cont > .group_theme2 .media_thumb{
    overflow: hidden;
    width: 232px;
    height: 130px;
}
#main_left > .main_contents > .theme_cont > .group_theme2 .ico_play{
    display: inline-block;
    width: 24px;
    height: 28px;
    background-position: -202px -296px;
    background-repeat: no-repeat;
    vertical-align: top;
    position: relative;
    top: -45px;
    left: 10px;
}
#main_left > .main_contents > .theme_cont > .group_theme2 .runtime{
    background-color: black;
    padding: 2px 4px;
    font-size: 11px;
    line-height: 14px;
    position: relative;
    top: -40px;
    left: 160px;
}
#main_left > .main_contents > .theme_cont > .group_theme2 .time{
    z-index: 1;
    position: relative;
    color: white;
    font-style: normal;
}

#main_left > .main_contents > .theme_cont > .group_theme2 .media_info{
    padding-top: 12px;
    overflow: hidden;
}

#main_left > .main_contents > .theme_cont > .group_theme2 .source_date{
    color: grey;

}

#main_left > .main_contents > .theme_cont > .group_theme2 .source_date::before{
    background-color: grey;
    display: inline-block;
    width: 2px;
    height: 2px;
    content: '';
    margin: 0 5px 0 6px;
    vertical-align: 4px;
}
/* group_theme2 end */


#main_left > .main_contents > .theme_cont   .btn_more_wrap{
    padding-top: 18px;
    margin-bottom: 42px;
    border-bottom: 1px solid #e4e8eb;
    position: relative;
}

#main_left > .main_contents > .theme_cont   > .btn_more_wrap .btn_more{
    top: 0px ;
    left: 300px;
    color: #505050;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    position: absolute;
 
}
#main_left > .main_contents > .theme_cont  > .btn_more_wrap .ico_more{
    width: 42px;
    height: 42px;
    background-position: 0 -342px;
    background-repeat: no-repeat;
    vertical-align: top;
    display: block;
    margin: 0 auto 3px;
}
/* ---------------------------------------------------------------------- */
/* ---------------------------------main end-------------------------- */
/* ---------------------------------------------------------------------- */





/* ---------------------------------------------------------------------- */
/* ---------------------------------side_bar-------------------------- */
/* ---------------------------------------------------------------------- */
#side_bar{
    float: right;
    width: 350px;
}

#side_bar img{
    float: right;
}
#side_bar > .account{
    padding: 16px 16px 12px 17px;
    background-color: #f7f9fa;
    border: 0.5px solid #dae1e6;
}


/* main end */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* footer start */
footer{
    background-color: #fafbfc ;
    border-top: 1px solid #e4e8eb;
}

footer > .footer_inner{
    width: 1200px;
    margin: 0 auto;
    padding: 0 30px 92px;
}

footer > .footer_inner > .banner_area{
    padding: 24px 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
footer > .footer_inner > .banner_area>.da_public_left{
    float: left;
}

footer > .footer_inner > .banner_area>.da_public_middle{
    float: left;
    margin-left: 40px;
}

footer > .footer_inner > .banner_area>.da_public_right{
    float: left;
    margin-left: 40px;
}

footer > .footer_inner > .notice_area{
    border-top: 1px solid #e4e8eb;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 16px 0 15px;

}

 footer >.footer_inner> .notice_area> .notice_box{
    display: flex;
    justify-content: space-between;
} 

footer >.footer_inner> .notice_area> .notice_box > .notice{
    color: #202020;
    font-size: 11px;
    font-weight: bold;
    margin-right: 13px;
}
footer >.footer_inner> .notice_area> .notice_box > .notice_date{
    font-size: 11px;
    color: #202020;
}

footer >.footer_inner> .notice_area> .notice_box a:hover{
    text-decoration-line: underline;
} 

footer >.footer_inner> .notice_area a:hover{
    text-decoration-line: underline;
}
footer >.footer_inner> .notice_area > .link_all{
    font-weight: 700;
    font-size: 11px;
    color: #202020;
}
footer >.footer_inner> .notice_area > .link_all::after{
    display: inline-block;
    width: 8px;
    height: 12px;
    background-position: -408px -110px;
    background-repeat: no-repeat;
    content: '';
    margin-left: 10px;
    vertical-align: -2px;
}

footer >.footer_inner >.aside_area{
    border-top: 1px solid;
    border-top: 1px solid #e4e8eb;
    display: flex;
    justify-content: space-between;
}

footer >.footer_inner >.aside_area > .partner_box_wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 780px;
    padding: 20px 0;
}
footer >.footer_inner >.aside_area > .partner_box_wrap > .partner_box + .partner_box{
    margin-top: 9px;
}
footer >.footer_inner >.aside_area > .partner_box_wrap > .partner_box >.title{
    font-size: 12px;
    width: 87px;
    float: left;
}
footer >.footer_inner >.aside_area > .partner_box_wrap > .partner_box a{
    font-size: 12px;
    float: left;
    color: #777;
}
footer >.footer_inner >.aside_area > .partner_box_wrap > .partner_box a:hover{
    text-decoration: underline;
}

footer >.footer_inner >.aside_area > .partner_box_wrap > .partner_box > .link_partner1::before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    background-color: #e4e8eb;
    vertical-align: -1px;
    margin: 0 8px;
    float: left;
} 

footer >.footer_inner >.aside_area >.service_box_wrap{
    padding: 28px 0;
    width: 350px;
    float: right;
    margin-right: 20px;
}
footer >.footer_inner >.aside_area >.service_box_wrap > .service_box{
    overflow: hidden;
    float: left;
    max-width: 150px;
}

footer >.footer_inner >.aside_area >.service_box_wrap > .service_box +.service_box{
    margin-left: 50px;
}

footer >.footer_inner >.aside_area >.service_box_wrap > .service_box >.service_logo{
    float: right;
    margin-left: 12px;
}

footer >.footer_inner >.aside_area >.service_box_wrap > .service_box >.service_info{
    overflow: hidden;
}

footer >.footer_inner >.aside_area >.service_box_wrap > .service_box >.service_info > .title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    font-size: 12px;
    line-height: 16px;
    color: #202020;
    padding: 2px;
}

footer >.footer_inner >.aside_area >.service_box_wrap > .service_box >.service_info a{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    font-size: 12px;
    line-height: 16px;
    padding-top: 2px;
    color: gray;
}
footer >.footer_inner >.aside_area >.service_box_wrap > .service_box >.service_info a:hover{
    text-decoration: underline;
}

footer >.footer_inner >.corp_area{
    border-top: 1px solid #e4e8eb;
    padding-top: 25px;
}

footer >.footer_inner >.corp_area > .list_corp{
    float: left;
    overflow:hidden;
    margin-right: 13px;
}

footer >.footer_inner >.corp_area > .list_corp > .corp_item{
    float:left;
    color: #777;
    font-size: 12px;
}
footer >.footer_inner >.corp_area > .list_corp > .corp_item a{
    color: #777;
}
footer >.footer_inner >.corp_area > .list_corp > .corp_item a:hover{
    text-decoration: underline;
}

footer >.footer_inner >.corp_area > .list_corp > .corp_item + .corp_item::before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    margin: 0 8px;
    background-color: #e4e8eb;
    vertical-align: -1px;
}
footer >.footer_inner >.corp_area > .addr a{
    float: left;   
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    color: #202020;
}
footer >.footer_inner >.corp_area > .addr a:hover{
    text-decoration: underline;
}






